@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
@model First.Models.Ogrenci
Halihazırda Models klasörü import edildiği için ayrıca import etmeye gerek yok.
*@

@{
    //Layout = null;
}

<h1>Kaydet2</h1>
<h2>@Model.OgrAd</h2>
<h2>@Model.OgrSoyad</h2>
<h2>@Model.OgrNo</h2>