@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Index Icindesin</h1>
</div>

<p>
    <br />
    <a asp-controller="Ogrenci" asp-action="Index">Ogrenci Ekle</a>
</p>